{% extends "public-base.html" %}
{% block title %}{% endblock %}
{% block bodyclass %}index{% endblock %}
{% block head %}
    {{ super() }}
    <link rel="stylesheet" type="text/css" media="screen" href="static/css/index.css">     
{% endblock %}
{% block content %}

            <h1 class="text-center">
              Vincenzo Auteri
            </h1>

    <div class="lead-container">


        <div class="container">


          <img src="static/images/demo.png"/>
            <div class="hero-unit">
              <a href="gent-en"/><p class="lead text-center">Start presentation</p></a>
          <p class="text-center">Press spacebar to start/stop automatic sequence, press left/right arrows for manual </p>
	        </div>
        </div>
	        <!-- end Macbook carousel -->

            <hr />

            <div class="hero-unit text-center">
                <h1>Hardware Engineer by education </h1>
                <p class="lead">
                Master of Science in Electronic Engineering
                </p>
                <p>
                <a src="static/paper.pdf">Research paper, wireless ECG monitor</a>
                </p>
                <h1>Software Engineer by trade</h1> 
                <p class="lead">
                5+ Years of professional experience in software development roles
                </p>
                <p class="lead">
                Proficient in C/C++/Python/Javascript/Go. 
                </p>
                <p class="lead">
                Embedded systems, client server architectures, networks.
                </p>
                <p>
                <a src="http://stackoverflow.com/users/1823720/vinaut">Stack Overflow Profile</a>
                </p>
                <h1>Hacker at heart </h1> 
                <p class="lead">
                Personal interest in latest technologies and trends.
                </p>
                <p>
                <a src="https://news.ycombinator.com/user?id=Kurtz79">Hackernews Profile</a>
                </p>
                <h1>Project managment and customer facing skills</h1> 
                <p>
                <a src="http://es.linkedin.com/pub/vincenzo-auteri/4/664/83 ">Linkedin Profile</a>
                </p>
                <h1>International experience</h1> 
                <p class="lead">
                 Professional work experience in USA, UK, Italy and Spain. 
                </p>
                <p class="lead">
                 Fluent in Italian, English and Spanish.
                </p>
                
				<hr />

        </div>
    </div>
        
        
        <hr />
	
{% endblock %}

