{% extends "public-base.html" %}
{% block title %}{% endblock %}
{% block bodyclass %}index{% endblock %}
{% block head %}
    {{ super() }}
    <link rel="stylesheet" type="text/css" media="screen" href="static/stylesheets/index.css">     
{% endblock %}
{% block content %}

	<section id="content" class="container">
    </section><!-- end .container -->

    <div class="lead-container">
        <div class="container">
          <img src="static/images/demo.png"/>
            <div class="hero-unit">
              <a href="gent"/><p class="Lead">Start presentation</p></a>
          <p>Press spacebar to start/stop automatic sequence, press left/right arrows for manual </p>
	        </div>
        </div>
	        <!-- end Macbook carousel -->

            <hr />

            <div class="hero-unit">
                <h1>We're still working hard to develop your Scopy!</h1>
                <p>
                    Leave your email address here, and you'd be one of the first people to try out Scopy.  
                    Your feedback will be instrumental in building a Scopy you will love.  
                    The first 1000 registered beta testers of Scopy who successfully complete participation 
                    during the trial period will receive free access to premium Scopy add-on modules for two years!
                </p>
				<hr />

        </div>
    </div>
        
        
        <hr />
	
{% endblock %}

