{% extends "public-base.html" %}
{% block title %}{% endblock %}
{% block bodyclass %}index{% endblock %}
{% block head %}
    {{ super() }}
    <link rel="stylesheet" type="text/css" media="screen" href="static/stylesheets/index.css">     
{% endblock %}
{% block content %}

	<section id="content" class="container">
    </section><!-- end .container -->

    <div class="lead-container">
        <div class="container">
	        <!-- Macbook carousel -->
	        <div id="carousel" class="carousel slide macbook" rel="carousel">
		        <!-- Carousel items -->
		        <div class="carousel-inner">
			        <!-- Item -->
			        <div class="item active">      
				        <img src="static/images/carousel/SL001.jpg" alt="" />
                    </div>
			        <!-- end Item -->
			        <!-- Item -->
			        <div class="item">
				        <img src="static/images/carousel/SL002.jpg" alt="" />
			        </div>
			        <!-- end Item -->
			        <!-- Item -->
			        <div class="item">
				        <img src="static/images/carousel/SL003.jpg" alt="" />
			        </div>
			        <!-- end Item -->
			        <!-- Item -->
			        <div class="item">
				        <img src="static/images/carousel/SL004.jpg" alt="" />
			        </div>
			        <!-- end Item -->
		        </div>
		        <!-- Carousel navigation -->
		        <a class="carousel-control left" href="#carousel" data-slide="prev"></a>
		        <a class="carousel-control right" href="#carousel" data-slide="next"></a>
	        </div>
	        <!-- end Macbook carousel -->

            <hr />

            <div class="hero-unit">
                <h1>We're still working hard to develop your Scopy!</h1>
                <p>
                    Leave your email address here, and you'd be one of the first people to try out Scopy.  
                    Your feedback will be instrumental in building a Scopy you will love.  
                    The first 1000 registered beta testers of Scopy who successfully complete participation 
                    during the trial period will receive free access to premium Scopy add-on modules for two years!
                </p>
				<hr />

        </div>
    </div>
        
        
        <hr />
	
{% endblock %}

