<!DOCTYPE html>
    <!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
    <!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
    <!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
    <!--[if (gte IE 9)|!(IE)]><!--><html class="not-ie" lang="en"> <!--<![endif]-->
    <head>
        
        
	    <!-- Basic meta tags -->
	    <meta charset="utf-8">
	    <title>Vincenzo</title>
	    <meta name="description" content="This is an interactive demostration made for a Platfrom consultant job at Google">


	    <!-- Styles -->
        <link rel="stylesheet" type="text/css" media="screen" href="static/stylesheets/bootstrap/bootstrap.css"> 
        <!-- link rel="stylesheet" type="text/css" media="screen" href="static/stylesheets/bootstrap/bootstrap.{{ style }}.css" --> 
        <link rel="stylesheet" type="text/css" media="screen" href="static/stylesheets/bootstrap/bootstrap-responsive.css"> 
        <link rel="stylesheet" type="text/css" media="screen" href="static/stylesheets/bootstrap-override.css"> 
        <link rel="stylesheet" type="text/css" media="screen" href="static/stylesheets/font-awesome/font-awesome.css"> 
        <link rel="stylesheet" type="text/css" media="screen" href="static/stylesheets/style.css"> 
	    <!--[if IE 7]>
		    <link href="static/stylesheets/font-awesome/font-awesome-ie7.css" rel="stylesheet">
	    <![endif]-->
	
	    <!-- Web Fonts  -->
	    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800' rel='stylesheet' type='text/css'>

	    <!-- Javascript -->
	    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
	    <script>window.jQuery || document.write('<script src="js/jquery-1.7.2.min.js"><\/script>')</script>
	
	    <!-- Internet Explorer condition - HTML5 shim, for IE6-8 support of HTML5 elements -->
	    <!--[if lt IE 9]>
		    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	    <![endif]-->


    </head>

    <body class="{% block bodyclass %}{% endblock %}">
    
    <!-- Facebook stuffs -->
    <div id="fb-root"></div>
    
	<!-- Header
	================================================== -->
	<header id="header">

		<!-- Navigation
		================================================== -->
		<nav class="navbar">
			<div class="navbar-inner">
				<div class="container">
					<!-- Logo -->
					<a class="brand" href="/">
						<img src="static/images/logo_comp.jpg" alt="logo" height="60" />
					</a>
					<ul class="nav">
					    <!-- note: can use class="active" to select active links -->
						<li><a href="/" title="Home">Home</a></li>
						<li><a href="/about" title="The Scopy Team">About</a></li>
						<li class="dropdown">
							<a href="#" title="Login">Login</a>
							<!-- Dropdown menu -->
							<ul>
								<li><a href="/login" title="">Login</a></li>
								<li><a href="/signup" title="">Sign Up</a></li>
							</ul>
						</li>
					</ul>
				</div><!-- end .container -->
			</div><!-- end .navbar-inner -->
		</nav>

	</header>
    
	<!-- Content
	================================================== -->    
    {% block content %}
    {% endblock %}

	<!-- Footer
	================================================== -->

	<footer id="footer">
		<div class="container">
			<div class="row">
				<div class="span4">
					<p>
					</p>
				</div>
				<div class="span4 social-networks">
				</div>
				<div class="span4 newsletter">
				</div> 
			</div> <!-- end .row -->		
		</div> <!-- end .container -->
	</footer><!-- end #footer -->


	<!-- Javascript - Placed at the end of the document so the pages load faster 
	================================================== -->

    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script src="static/javascripts/bootstrap.min.js"></script>
    <!--
    <script src="static/javascripts/application.js"></script>
    -->
    <script src="static/javascripts/bootswatch.js"></script>	
    <script src="static/javascripts/jquery.isotope.min.js"></script>	
    <script src="static/javascripts/jquery.touchSwipe.js"></script>	
    <script src="static/javascripts/jquery.hotkeys.min.js" charset='utf-8'></script>	
    <script src="static/javascripts/functions.js"></script>	

    </body>
</html>
